<div class="column is-auto p-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{URL}}/professor/disciplinas">Administração</a></li>
        <li><a href="{{URL}}/professor/disciplinas" aria-current="page">Disciplinas</a></li>
        <li class="is-active"><a href="#" aria-current="page">{{especdisc}}</a></li>
      </ul>
    </nav>
    <h2 class="mt-6 title is-2 has-text-centered has-text-grey">
        {{especdisc}}
    </h2>
    <div class="box mt-6 p-5 mb-6">
      <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-3 mb-4">
            <p class="title has-text-centered is-4">Gerenciamento de Aulas</p>
            <a href="{{URL}}/professor/discAula/{{id}}"><button class="button is-success is-large">Gerenciar</button></a>
        </div>
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-6 mb-4">
            <p class="title has-text-centered is-4">Gerenciamento de Notas/Atividades</p>
            <button class="button is-success is-large">Gerenciar</button>
        </div>
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-6 mb-4">
            <p class="title has-text-centered is-4">Gerenciamento de Média/Situação</p>
            <button class="button is-success is-large">Gerenciar</button>
        </div>
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-6 mb-4">
            <p class="title has-text-centered is-4">Gerenciamento de Avisos</p>
            <a href="{{URL}}/professor/avisosprof/{{id}}"><button class="button is-success is-large">Gerenciar</button></a>
        </div>
        <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center mt-6 mb-4">
            <p class="title has-text-centered is-4">Finalizar Disciplina</p>
            <button class="button is-danger is-large">Finalizar</button>
        </div>
      </div>



    </div>
  </div>
