<div class="is-flex is-flex-direction-row has-background-white-ter" style="border: 1px solid lightgrey;">
    <div class="is-flex is-flex-direction-row is-align-items-center" style="width: 60%;">
      <p class="subtitle is-5 pl-5">{{item}}</p>
    </div>
    <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-center is-flex-wrap-wrap" style="width: 40%;">
      <button class="button is-info m-2" style="width: 7rem;">
        <span>Atualizar</span>
        <span class="icon is-small">
          <i class="fas fa-edit"></i>
        </span>
      </button>
      <button class="button is-danger m-2" style="width: 7rem;">
        <span>Deletar</span>
        <span class="icon is-small">
          <i class="fas fa-times"></i>
        </span>
      </button>
    </div>
</div>