<div class="columns has-background-white-ter">
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{disc}}</p>
      </div>
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{prof}}</p>
    </div>
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{data}}</p>
    </div>
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{aval}}</p>
    </div>
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{nota}}</p>
    </div>
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{freq}}</p>
    </div>
    <div class="column">
        <p class="subtitle is-6" style="white-space: nowrap;">{{aulasDadas}}{{aulasPrev}}</p>
    </div>
</div>