<tr>
    <td class="has-text-centered" style="white-space: nowrap;">{{disc}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{prof}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{data}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{aval}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{nota}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{freq}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{aulasDadas}}{{aulasPrev}}</td>
</tr>