<tr class="has-background-white-ter">
    <td class="has-text-centered" style="white-space: nowrap;">{{disc}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{prof}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{media}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{freq}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{aulasDadas}}{{aulasPrev}}</td>
    <td class="has-text-centered" style="white-space: nowrap;">{{situacao}}</td>
</tr>