<div id="modal-cadastro" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <div class="box pl-6 pr-6">
        <h4 class="mt-5 title is-4 has-text-centered has-text-grey"> Cadastrar Nova Disciplina Base</h4>
        <form action="{{URL}}/coord/discbase" method="post">
          <input name="post-action" type="hidden" value="cadastrar">
          <div class="field mt-5">
            <label class="label">Nome</label>
            <div class="control mt-3">
              <input class="input" name="nome-discbase" type="text" placeholder="Nome Disciplina Base" required>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Carga Horaria</label>
            <div class="control mt-3">
              <input class="input" name="carga-horaria" type="number" min="1"  max="300" placeholder="Carga Horaria (inteiro positivo > 0)" required>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Qtd. Aulas Previstas</label>
            <div class="control mt-3">
              <input class="input" name="qtd-aulas-previstas" type="number" min="1" max="120" placeholder="Qtd. Aulas Previstas (inteiro positivo > 0)" required>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Semestre Dado</label>
            <div class="control">
              <div class="select">
                <select required name="semestre-dado">
                  <option selected value="0">Selecione um Semestre</option>
                  <option value="1">Semestre 1</option>
                  <option value="2">Semestre 2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Ano Mínimo</label>
            <div class="control mt-3">
              <input class="input" name="ano-min" type="number" min="1" max="10" placeholder="Ano Mínimo (inteiro positivo > 0)" required>
            </div>
          </div>
          <div class="mt-6 is-flex is-flex-direction-row is-justify-content-right is-align-items-center">
            <button type="button" class="button mr-4 is-medium is-danger close-button" aria-label="close">Cancelar</button>
            <button type="submit" class="button is-success is-medium">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>

    <button class="modal-delete is-large" aria-label="close"></button>
  </div>





  <div id="modal-editar" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <div class="box pl-6 pr-6">
        <h4 class="mt-5 title is-4 has-text-centered has-text-grey"> Informações da Disciplina Base</h4>
        <form action="{{URL}}/coord/discbase" method="post">
          <input name="post-action" type="hidden" value="editar">
          <input id="nome-discbase-atual" name="nome-discbase-atual" type="hidden" value="">
          <div class="field mt-5">
            <label class="label">Nome</label>
            <div class="control mt-3">
              <input id="nome-discbase" class="input" name="nome-discbase" type="text" placeholder="Nome Disciplina Base" required>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Carga Horaria</label>
            <div class="control mt-3">
              <input id="carga-horaria" class="input" name="carga-horaria" type="number" min="1"  max="300" placeholder="Carga Horaria (inteiro positivo > 0)" required>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Qtd. Aulas Previstas</label>
            <div class="control mt-3">
              <input id="qtd-aulas-previstas" class="input" name="qtd-aulas-previstas" type="number" min="1" max="120" placeholder="Qtd. Aulas Previstas (inteiro positivo > 0)" required>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Semestre Dado</label>
            <div class="control">
              <div class="select">
                <select id="semestre-dado" required name="semestre-dado">
                  <option selected value="0">Selecione um Semestre</option>
                  <option value="1">Semestre 1</option>
                  <option value="2">Semestre 2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field mt-5">
            <label class="label">Ano Mínimo</label>
            <div class="control mt-3">
              <input  id="ano-min" class="input" name="ano-min" type="number" min="1" max="10" placeholder="Ano Mínimo (inteiro positivo > 0)" required>
            </div>
          </div>
          <div class="mt-6 is-flex is-flex-direction-row is-justify-content-right is-align-items-center">
            <button type="button" class="button mr-4 is-medium is-danger close-button" aria-label="close">Cancelar</button>
            <button type="submit" class="button is-info is-medium">Atualizar</button>
          </div>
        </form>
      </div>
    </div>

    <button class="modal-delete is-large" aria-label="close"></button>
  </div>






  <div id="modal-delete" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <div class="box pl-6 pr-6">
        <h4 class="mt-5 title is-4 has-text-centered has-text-grey"> Deletar Disciplina Base</h4>
        <h5 class="mt-4 subtitle is-5 has-text-centered">Tem certeza que deseja deletar a Disciplina Base "<strong id="disciplina-delete-name"></strong>"?</h5>
        <div class="mt-6 is-flex is-flex-direction-row is-justify-content-right is-align-items-center">
          <form action="{{URL}}/coord/discbase" method="post">
            <input name="post-action" type="hidden" value="deletar">
            <input name="nome-disciplina-delete" type="hidden" value="">
            <button type="button" class="button mr-4 is-medium is-light close-button" aria-label="close">Cancelar</button>
            <button type="submit" class="button is-danger is-medium" name="confirm" value="true">Deletar</button>
          </form>
        </div>
      </div>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>





  <div class="column is-auto p-6">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{URL}}/coord/discbase">Administração</a></li>
        <li class="is-active"><a href="#" aria-current="page">Disciplinas Base</a></li>
      </ul>
    </nav>
    <h2 class="title is-2 has-text-centered has-text-grey">
      Cadastro de Disciplinas Base
    </h2>
    {{status}}
    <div class="is-flex is-flex-direction-row is-justify-content-center">
      <button class="button is-primary is-medium js-modal-trigger" data-target="modal-cadastro">Cadastrar</button>
    </div>

    <div class="box mt-5 p-5 mb-6">
      <div class="is-flex is-flex-direction-row is-justify-content-center">
        <p class="title is-5 pl-4" style="width: 60%">Cursos</p>
        <p class="title is-5 has-text-centered" style="width: 40%">Ações</p>
      </div>
      <div class="is-flex is-flex-direction-column is-justify-content-center">
        {{items}}
      </div>

      <nav class="pagination mt-5 is-centered" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
          <!-- <li> <a class="pagination-link is-current">1</a></li>-->
          {{pages}}
        </ul>
      </nav>

    </div>
  </div>
  <script src="{{URL}}/app/Resources/scripts/scriptModal.js"></script>
  <script src="{{URL}}/app/Resources/scripts/intranet/coord/scriptDisciplinasBase.js"></script>