<section class="hero is-fullheight has-background-purple">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-desktop is-9-tablet is-12-mobile">
                    <h5 class="subtitle has-text-centered has-text-white">Bem-vindo à</h5>
                    <h2 class="title is-2 has-text-centered has-text-white">Intranet</h2>
                    <form class="box px-5" method="post">
                        {{status}}
                        <div class="field mt-5">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input" type="email" name="email" placeholder="email@teste.com" required>
                                <span class="icon is-small is-left">
                                    <span class="iconify" data-icon="bi:envelope-fill"></span>
                                </span>
                            </div>
                        </div>
                        <div class="field mt-5">
                            <label class="label">Senha</label>
                            <div class="control has-icons-left">
                                <input class="input" type="password" name="password" placeholder="Senha" required>
                                <span class="icon is-small is-left">
                                    <span class="iconify" data-icon="fa-solid:lock"></span>
                                </span>
                            </div>
                        </div>
                        <div class="control  mt-4">
                            <button class="button mt-6 is-purple is-fullwidth is-rounded has-text-white has-text-weight-bold">Login</button>
                        </div>
                        <p class="has-text-centered my-5 is-size-6">
                            <a href="#" class="has-text-purple">Problemas para se logar? Clique aqui.</a>
                        </p>
                    </form>
                    <p class="has-text-centered">
                        <a href="../" class="has-text-white has-text-centered">
                            <span class="icon-text">
                                <span class="icon has-text-white">
                                    <span class="iconify" data-icon="bi:arrow-left-circle-fill"></span>
                                </span>
                                <span> Retornar ao Portal Educacional </span>
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>