<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{URL}}/app/Resources/css/styles.css">
    <link rel="shortcut icon" href="{{URL}}/app/Resources/images/graduation-cap_roxo.png" />
    <title>403 - Acesso Negado</title>
</head>
<body>
    <div class="is-flex is-flex-direction-column is-justify-content-center is-align-items-center" style="height: 100vh;">
        <img class="pr-6 pl-6" src="{{URL}}/app/Resources/images/forbidden.svg" alt="ERROR 403" style="width: 50rem; height:40%;">
        <h5 class="title is-5 has-text-purple has-text-centered" style="margin-top: 5%;">Acesso restrito.</h1>
        <h6 class="title is-6 mt-4 pl-6 pr-6 has-text-purple has-text-centered">Pedimos desculpas, mas o endereço procurado não pode ser acessado.</h2>
    </div>
</body>
</html>