<header class="section has-background-purple">
    <nav class="level">
      <div class="level-left">
        <p class="level-item has-text-centered">
          <a href="{{URL}}/"><img src="{{URL}}/app/Resources/images/logo.png" alt="" style="height: 50px" /></a>
        </p>
        <p class="level-item has-text-centered">
          <strong class="ml-5 is-size-4 has-text-white">
            Sistema de Graduação
          </strong>
        </p>
      </div>
      <div class="level-right">
        <p class="level-item">
          <a href="{{URL}}/logout" class="button is-medium is-white is-outlined">Logout</a>
        </p>
      </div>
    </nav>
  </header>
  <section class="mb-3 is-fullwidth has-background-light has-text-centered is-size-5">
    <p>{{nome}} - {{cargo}}</p>
  </section>