<section class="hero is-fullheight" style="background-color: rgba(107, 18, 190, 0.055);">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7-desktop is-11-tablet is-14-mobile">
                    <div class="control is-flex is-flex-direction-row is-justify-content-center">
                        <figure class="image is-96x96">
                            <img src="{{URL}}/app/Resources/images/mortarboard.png" alt="mortarboard">
                        </figure>
                    </div>
                    <p class="title is-2 has-text-grey-dark has-text-centered">
                        Sistema de Graduação da UUP
                    </p>
                    <!-- <h5 class="subtitle has-text-centered has-text-white">Bem-vindo à</h5>
                    <h2 class="title is-2 has-text-centered has-text-white">UUP</h2> -->
                    <form class="box px-6 mt-6" method="post">
                        {{status}}
                        <div class="field pt-5 mt-4">
                            <div class="field has-addons">
                                <p class="control has-icons-left is-expanded">
                                    <input class="input is-medium" type="text" placeholder="nome.sobrenome">
                                    <span class="icon is-left">
                                        <i class="fas fa-envelope"></i>
                                    </span>
                                </p>
                                <p class="control is-link">
                                    <a class="button is-static is-medium">@uup.br</a>
                                </p>
                            </div>
                        </div>
                        <div class="field pt-5 pb-2">
                            <div class="control has-icons-left">
                                <input class="input is-medium" type="password" name="password" placeholder="Digite sua senha aqui..." required>
                                <span class="icon is-small is-left">
                                    <span class="iconify" data-icon="fa-solid:lock"></span>
                                </span>
                            </div>
                        </div>
                        <div class="control pt-5 mt-5">
                            <button class="button is-info is-rounded is-fullwidth is-outlined is-medium is-purple">Entrar</button>
                        </div>
                        <p class="has-text-centered pt-5 pb-2 is-size-6">
                            <a href="#" class="has-text-purple">Problemas para se logar? Clique aqui.</a>
                        </p>
                    </form>
                    <!--<p class="has-text-centered">
                        <a href="../" class="has-text-white has-text-centered">
                            <span class="icon-text">
                                <span class="icon has-text-white">
                                    <span class="iconify" data-icon="bi:arrow-left-circle-fill"></span>
                                </span>
                                <span> Retornar ao Portal Educacional </span>
                            </span>
                        </a>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</section>