<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/e5f521b650.js" crossorigin="anonymous"></script>
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{URL}}/app/Resources/css/styles.css">
  <link rel="shortcut icon" href="{{URL}}/app/Resources/images/graduation-cap_roxo.png" />
  <base href="{{URL}}">
  <script src="{{URL}}/app/Resources/scripts/jquery.js"></script>
  <title>{{title}}</title>
</head>

<body>
  {{header}}
<section class="columns" style="min-height: 85vh;">
  {{menu}}
  {{content}}
</section>

</body>

</html>